
body{
    margin: 8px;
    width:400px;
    height: 582px;
    background-color: #292a2d;
}

h1{
    margin:10px 0 0 0;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    color: white;
}

#pdfContainer{
    border: #404045 4px solid;
    background-color: #292a2d;
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
    flex-grow: 1;
    max-height: calc(100% - 70px - 130px);
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;

}

#pdfContainer::-webkit-scrollbar {
    display: none;
}

.pdfItem{
    background-color: #404045;
    display: grid;
    grid-template-columns: 80px 212px;
    column-gap: 40px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

a{
    color: #4d6bfe;
    font-size: 20px;
}

a:hover{
    color:#8498ff;
}

input[type="checkbox"]{
    height: 40px; 
    width: 40px;
}

button{
    text-align: center;
    margin-top: 10px;
    width: 130px;
    height: 60px;
    background-color: #404045;
    color: #a0a6b4;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

button:hover{
    background-color: #4d6bfe;
    color: white;
}
#confirmButton{
    float: right;
}

#backButton{
    float: left;
}

#toggleContainer{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-bottom: 10px;
}
#toggleLabel{
    width: 80px;
    height: 38px;
    background-color: #404045;
    position: relative;
    border-radius: 100px;
    display: block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#toggleLabel:after{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 34px;
    height: 34px;
    background-color: #292a2d;
    border-radius: 100px;
    transition: all .3s ease-in-out;
}
#toggle{
    visibility: hidden;
    width: 0;
    height: 0;
}
#toggle:checked + #toggleLabel{
    background-color: #4d6bfe;
}
#toggle:checked + #toggleLabel:after{
    left: calc(100% - 2px);
    transform: translateX(-100%);
    background-color: #c9d2fd;
}