body {
    display: block;
    width: auto;  
    height: auto; 
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #292a2d;
}

h1{
    white-space: nowrap;
    font-weight: 500;
    color: white;
    padding: 10px 10px;
    margin: 4px 34px;
}

#buttons-container{
    margin-top: 34px;
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 114px;
}

button{ 
    box-sizing: border-box;
    width: 200px;  
    height: 50px;
    padding: 10px 30px;
    font-size: 18px;
    background-color: #404045;
    color: #a0a6b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #4d6bfe;
    color: white;
}

#missing-key-message{
    text-align: left;
    display: none;
    color: #ff4d4d;
    font-size: 14px;
    margin: 0px 10px;
    padding: 0px 10px;
}

#api-key{
    width: 180px;
    height: 20px;
    padding: 10px 10px;
    margin: 4px 10px;
    font-size: 14px;
    background-color: #404045;
    color: #a0a6b4;
    border: none;
    border-radius: 5px;
}

#api-key:focus{
    outline: none;
    border: none;
}

a{
    margin-top: 0px;
    font-size: 14pt;
    color: #4d6bfe;
    text-decoration: underline; 
}

a:hover{
    color: #8498ff;
    text-decoration: underline;
}
